<div id="footer" class="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="footer-card space-between vertical-center">
          <div class="footer-element">
            <img src="images/drones_del_caribe_logo_no_text.png" id="logo-footer" alt="logo Drones Del Caribe">
          </div>
          <div class="footer-element">
            <!-- TODO add links? -->
          </div>
          <div class="footer-element social-links">
            <h4>Síguenos en las redes sociales</h4>
            <div class="links-container">
              <% admin = data.admin %>
              <% link_to "https://facebook.com/#{admin.facebook_nickname}", target: "_blank" do %>
                <i class="link-social fab fa-facebook" aria-hidden="true"></i>
              <% end %>
              <% link_to "https://instagram.com/#{admin.instagram_nickname}", target: "_blank" do %>
                <i class="link-social fab fa-instagram"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="text-center">COPYRIGHT 2019 © Drones Del Caribe</p>
    </div>
  </div>
</div>
