div.card-services {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .icon-container {
    flex: 0 0 76px;
    text-align: center;
    i {
      // display: block;
      // margin: 0 auto;
      font-size: 30px;
    }
  }
  .content-container {

  }
}
