// #home {
//   // background-color: #D23333;
//   // background: white;
//   // background-color: #f8sf9fb;
//   color: white;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   text-align: center;
//   p {
//     margin-top: 1.5em;
//   }
//   a {
//     color: rgba(0,0,0,0.4);
//     font-weight: bold;
//     font-size: 16px;
//   }
// }

// TODO may be the code for this section shoule be make like generic, on a card for example
#about-us {
  .subtitle {
    flex: 1 1 100%;
  }
  .member-container {
    margin: 0 auto;
  }
}


#services {
  background-image: image_url("servicios-drones-background.jpg");
  background-size: contain;
  background-position: -120px;
  background-repeat: no-repeat;
  // background-color: #f8sf9fb;
}

#drone-spec {
  position: relative;
  z-index: -2;
  overflow: hidden;
  .image-container-top {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 200px;
    right: -91px;
  }
  .image-container-bottom {
    z-index: -1;
    position: absolute;
    width: 200px;
    bottom:0;
    left: -90px;
  }
  .flex-container {
    align-items: center;
    .flex-item{
      flex: 0 1 100%;
      padding: 30px;
      .drone-details {
        font-size: 26px;
        font-weight: 600;
      }
    }
  }
}

#projects {
  .flex-container {
    .flex-item {
      padding: 10px;
    }
  }
  .image-project {
    width: 380px;
    height: 200px;
  }
}

#contact {
  #contact-left-side {
    .contact-list {
      padding-left: 10px;
      span {
        font-weight: bold;
      }
    }
  }
  #contact-right-side {
    background-color: white;
    padding: 50px;
    border-radius: 1%;
    h2{
      text-transform: uppercase;
    }
    #contact-form {
      input, textarea {
        font-size: 14px;
        border-color: #e2e1e1;
      }
    }
  }
  .form-container {
    input, textarea {

    }
  }
}


/* RESPONSIVENESS
--------------------------------------------------- */
// Big Screens
@media only screen and(min-width: 2000px) {
  #services {
    background-position: 120px;
  }
}

// Small Screens
// TODO this shouldn exist as im doing mobile first
@media only screen and(max-width: 767px) {
  #services {
    background-image: none;
  }
}

// From Ipad landscape
@media only screen and(min-width: 1024px) {
  #about-us {
    .member-container {
      // max-width: 50%;
    }
  }
}
// After Small Screens
@media only screen and(min-width: 768px) {
  #about-us {
    .member-container {
      max-width: 50%;
    }
  }
  #services {
    h2, h3, p {
      text-align: left;
    }
  }
  #drone-spec {
    .image-container-top {
      width: initial;
      right: -172px;
    }
    .image-container-bottom {
      width: initial;
      left: -170px;
    }
    .flex-container {
      .flex-item{
        flex: 0 1 24%;
        padding: 40px;
      }
    }
  }
}

