// #home {
//   // background-color: #D23333;
//   // background: white;
//   // background-color: #f8sf9fb;
//   color: white;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   text-align: center;
//   p {
//     margin-top: 1.5em;
//   }
//   a {
//     color: rgba(0,0,0,0.4);
//     font-weight: bold;
//     font-size: 16px;
//   }
// }

// TODO may be the code for this section shoule be make like generic, on a card for example
#about-us {
  .subtitle {
    flex: 1 1 100%;
  }
  .flex-item {
    // flex: 1 1 100%;
    // background: white;
    // padding: 40px 40px;
  }
}


#services {
  background-image: url("/../images/servicios-drones-background.jpg");
  background-size: contain;
  background-position: -120px;
  background-repeat: no-repeat;
  // background-color: #f8sf9fb;
}

#drone-spec {
  .flex-container {
    align-items: center;
  }
  .flex-item{
    flex: 0 1 49%;
    .drone-details {
      font-size: 26px;
      font-weight: 600;
    }
  }
}

#projects {
  .flex-container {
    .flex-item {
      padding: 10px;
    }
  }
}

#contact {
  #contact-left-side {
    .contact-list {
      padding-left: 10px;
    }
  }
  #contact-right-side {
    background-color: white;
    padding: 50px;
    border-radius: 1%;
    h2{
      text-transform: uppercase;
    }
    #contact-form {
      input, textarea {
        font-size: 14px;
        border-color: #e2e1e1;
      }
    }
  }
  .form-container {
    input, textarea {

    }
  }
}


/* RESPONSIVENESS
--------------------------------------------------- */
// Big Screens
@media only screen and(min-width: 2000px) {
  #services {
    background-position: 120px;
  }
}
// After Small Screens
@media only screen and(max-width: 767px) {
  #services {
    background-image: none;
  }
}
// Small Screens
@media only screen and(min-width: 768px) {
  #about-us {
    .flex-item {
    //   flex: 0 1 32%;
      padding: 80px 40px;
    //   margin: 0
    }
  }
  #services {
    h2, h3, p {
      text-align: left;
    }
  }
  #drone-spec {
    .flex-item{
      flex: 0 1 24%;
    }
  }
}





