// body {
//   background-color: #f8f9fb;
// }






// Elements

img {
  max-width: 100%;
}

h1, h3, h4 {
  color: $ddc-light-black !important;
}

h2 {
  color: $red !important;
  font-size: 18px !important;
  font-weight: bolder !important;
}

h3 {
  font-size: 30px !important;
}

h4 {
  font-size: 16px !important;
  font-weight: bold !important;
}

h5 {
  font-size: 14px !important;
  font-weight: bold !important;
}

p, li {
  color: $gray;
  font-size: 16px;
  font-weight: 100;
}

iframe {
  max-width: 100% !important;
}

ul {
  list-style-type: none !important;
}



// General Classes

/* Flex */
.flex-container {
  display:flex;
  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.vertical-center {
    align-items: center;
  }
  &.vertical-flex-start {
    align-items: flex-start;
  }
  &.vertical-flex-end {
    align-items: flex-end;
  }
  &.vertical-baseline {
    align-items: baseline;
  }
  .flex-item {
    flex: 1 1 100%;
    padding: 40px 40px;
  }
}


/* Paddings */
.pad-y-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pad-bottom-40 {
  padding-bottom: 40px;
}


/* Margins */
// Top
.mar-top-40 {
  margin-top: 30px;
}
.mar-top-30 {
  margin-top: 30px;
}
.mar-top-20 {
  margin-top: 20px;
}
// Bottom
.mar-bottom-40 {
  margin-bottom: 30px;
}
.mar-bottom-30 {
  margin-bottom: 30px;
}
.mar-bottom-20 {
  margin-bottom: 20px;
}


/* Visibility and Display */
.visib-hidden {
  visibility: hidden;
}
.hidden {
  display: none;
}

/* Others */
.dots {
  font-size: 80px;
  margin-left: -3px;
  margin-top: 24px;
  line-height: 16px;
  letter-spacing: -10px;
  color: $ddc-light-black !important;
}

.link-social {
  color: $red;
  padding-right: 8px;
}


@media only screen and(min-width: 2000px) {

}
// After Small Screens
@media only screen and(max-width: 767px) {

}
// Small Screens
@media only screen and(min-width: 768px) {
  .flex-container {
    .flex-item {
      flex: 0 1 32%;
      margin: 0;
    }
  }
}
